body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #222;
    line-height: 1.6;
}

nav {
    background-color: #111827;
    padding: 15px 30px;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #60a5fa;
}

main {
    padding: 0 20px;
    margin: 40px auto;
    max-width: 1000px;
}

h1 {
    color: #111827;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    color: #1f2937;
    margin-top: 0;
}

p{
    margin-bottom: 20px;
}

form input, form textarea {
    width: 300px;
    padding: 8px;
}

.project-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.project-card h2 {
    margin-top: 0;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    border: 1px solid #ddd;
}

label{
    font-weight: bold;
}