{% extends "base.html" %}

{% block content %}
<h1>About Me</h1>
<h2>My Journey in Software Development</h2>
<p>I am a software development student with a passion for new technologies, I am currently learning to build websites
    and applications. Through my studies and projects, I have developed skills in both front-end (HTML, CSS, JavaScript)
    and back-end (Python, Flask) development. Which has helped me create full web applications.</p>

<p>
    This portfolio project is a demonstration of my learning journey and progress in software development. It
    demonstrates some of the skills and knowledge I have gained through my studies and projects, and my understanding of
    web
    development concepts such as routing, templates, nesting, dynamic data, and form handling using Flask.
</p>

<p>
    I am continuously learning and improving my skills, and I am excited to explore new technologies and opportunities
    in the field of software development to constantly improve and grow, and showcase my ability to design and build
    efficient, user-friendly applications. This portfolio is a reflection of my dedication and passion for learning and
    creating, and I hope it serves as a showcase of my abilities and potential as a software developer.
</p>

<h2>
    What I've learned so far:
</h2>

<ul>
    <li>Python programming language</li>
    <li>Flask web framework</li>
    <li>HTML and CSS for front-end development</li>
    <li>JavaScript basics for interactivity</li>
    <li>GitHub for version control and project hosting</li>
    <li>Building and deploying web applications</li>
    <li>Handling user input with forms</li>
    <li>Creating dynamic content with templates</li>
    <li>Understanding of web development concepts and best practices</li>
    <li>Managing project structure and organization</li>
</ul>
<h2>Beyond Coding</h2>
<p>
    Outside of coding, I enjoy staying active through Martial Arts, which has taught me discipline, focus, and
    perseverance. I also have a passion for reading and learning new things. And I try to surround myself with positive
    and loving people who support my growth and development. I believe that a positive mindset and a supportive
    community are essential for success in any field, including software development.
</p>

{% endblock %}