{% extends "base.html" %}


{% block title %}Contact{% endblock %}

{% block content %}
<div class="contact-page">
<h1>Contact Me</h1>
<p>You can contact me directly at my <a href="mailto:mdpos95@gmail.com">e-mail</a></p>
{% if message %}
    <p class="success-message">{{ message }}</p>
{% endif %}

<form method="POST">
    <label>Name</label><br>
    <input type="text" name="name" required><br>
    <label>Email</label><br>
    <input type="email" name="email" required><br>
    <label>Message</label><br>
    <textarea name="message" required></textarea><br>
    <button type="submit">Send</button>
</form>
</div>
{% endblock %}