{% extends "base.html" %}
{% block content %}
<section class="hero">

<h1>Hi, I'm Mark</h1>

<p class="hero-subtitle">
    Software Development Student | Python & Web Developer
</p>

<p class="hero-text">I am a software development student with a strong interest in Python and web development.
    I enjoy learning new technologies and building interactive web applications using Flask, HTML and CSS.
    This portfolio website showcases some of my projects and skills. Feel free to explore and contact me if you have any
    questions or opportunities!
</p>

<div class="hero-buttons">
<a href="{{ url_for('projects') }}"
class="btn">View My Projects</a>
<a href="{{ url}}"></a>


</div>

</section>
<p>
    This portfolio website is built using Flask, a lightweight web framework for Python. It demonstrates my ability to
    create a simple yet functional web application, including routing, templates, and form handling. I have also
    included sections for my projects and skills to highlight my experience and progress in software development.
</p>

<h2>
    Technologies I use:
</h2>
<ul>
    <li>Python</li>
    <li>Flask</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>GitHub</li>
</ul>

{% endblock %}