{% extends "base.html" %}

{% block title %}Home{{% endblock %}}


{% block content %}
<section class="hero fade-in">

<h1>Hi, I'm Mark - Software Developer</h1>

<p class="hero-subtitle">
    Software Development Student | Python & Web Developer
</p>

<p class="hero-text">I am a software development student with a strong interest in Python and web development.
    I enjoy learning new technologies and building interactive web applications using Flask, HTML and CSS.
    This portfolio website showcases some of my projects and skills. Feel free to explore and contact me if you have any
    questions or opportunities!
</p>

<div class="hero-buttons">

<a href="{{ url_for('projects') }}"
class="btn">View My Projects</a>
<a href="{{ url_for('contact') }}" class="btn">Contact Me</a>

</div>

</section>

<section class="intro-section fade-in">

<p>
    This portfolio website is built using Flask, a lightweight web framework for Python. It demonstrates my ability to
    create a simple yet functional web application, including routing, templates, and form handling. I have also
    included sections for my projects and skills to highlight my experience and progress in software development.
</p>

</section>

<section class="highlights fade-in">
    <div class="highlight-card">
        <h2>Python</h2>
        <p>
            Developing structured and efficient applications, focusing on problem solving and clean code.
        </p>
    </div>
    <div class="highlight-card">
        <h2>Flask</h2>
        <p>
            Building web applications with Flask, implementing routing, templates, and back-end logic integration.
        </p>
    </div>
    <div class="highlight-card">
        <h2>Web Development</h2>
        <p>
            Creating responsive, visually appealing and user-friendlywebsites using HTML, CSS, and JavaScript for interactivity.
        </p>
    </div>  
    <div class="highlight-card">
        <h2>Deployment</h2>
        <p>
            Deploying and managing web applications on various platforms, such as GitHub and Render.
        </p>
    </div>

</section>

<section class="featured-project fade-in">
    <div class="project-card">
        <h2>Featured Project</h2>
        <h3>Flask Portfolio</h3>
        <p>
            A personal portfolio website built using Flask to demonstrate routing, templates, dynamic content, and form handling
        </p>
        <a href="{{ url_for('projects') }}"
        class="btn">See All Projects</a>
    </div>

</section>

{% endblock %}