{% extends "base.html" %}`
{% block content %}
<h1>My Projects</h1>

<p>
    Below are some of the projects I have worked on during my software development journey. These projects demonstrate
    my skills in Python, Flask, HTML, CSS, and JavaScript, and show my journey as a developer by implementing more
    front-end features through each project, and now implementing back-end as well. Each project has its own unique
    features and functionalities, showcasing my ability to create interactive web applications and solve real-world problems.
</p>

<div class="projects-container">
    {% for project in projects %}
    <div class="project-card"
    data-link="{{ project.live }}">

        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
        <p><strong>Technologies:</strong> {{ project.tech }}</p>
        <p><strong>Category:</strong> {{ project.category }}</p>

        <div class="project-links">
            <a href="{{ project.live }}" target="_blank">Live link</a>
            <a href="{{ project.github }}" target="_blank">GitHub link</a>
        </div>

    </div>
    
    {% endfor %}

</div>
{% endblock %}