{% extends "base.html" %}


{% block title %}Skills{{% endblock %}}

{% block content %}
<h1>My Skills</h1>
<p>
    Below are some of the skills I have developed during my software development journey. These skills demonstrate
    my proficiency in Python, Flask, HTML, CSS, JavaScript, and GitHub. I have also included a section for soft skills,
    which are essential for effective communication and collaboration in the software development industry.
</p>
<div class="project-card">
    <h2>
        Programming
    </h2>
    <div class="skill-tags">
        <span>Python</span>
        <span>JavaScript</span>
    </div>
</div>
<div class="project-card">
    <h2>
        Web Development
    </h2>
    <div class="skill-tags">
        <span>HTML</span>
        <span>CSS</span>
        <span>Flask</span>
    </div>
</div>
<div class="project-card">
    <h2>
        Tools & Platforms
    </h2>
    <div class="skill-tags">
        <span>Git</span>
        <span>GitHub</span>
        <span>VS Code</span>
        <span>Render</span>
    </div>
</div>
<div class="project-card">
    <h2>
        Soft Skills
    </h2>
    <div class="skill-tags">
        <span>Communication</span>
        <span>Teamwork</span>
        <span>Problem Solving</span>
        <span>Time Management</span>
        <span>Creativity</span>
        <span>Critical Thinking</span>
    </div>
</div>
{% endblock %}